
[Unit]
Description=PiOLED stats display service

[Service]
Type=simple
User=<user name>
ExecStart=/bin/sh -c "python3 -m pioled.stats"
WorkingDirectory=/home/<user name>
Restart=always

[Install]
WantedBy=multi-user.target
