<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="imu" params="id_ parent_ x_ y_ z_ mat_">
        <link name="imu${id_}_link">
            <visual>
                <origin rpy="0.0 0.0 0.0" xyz="0 0 0"/>
                <geometry>
                    <!-- <mesh filename="package://mobot_pkg/meshes/imu.dae"/> -->
                    <box size="0.025 0.025 0.002"/>
                    <!-- <cylinder length=".02" radius=".015"/> -->
                </geometry>
                <material name="${mat_}"/>
            </visual>
            <collision>
                <origin rpy="0.0 0.0 0.0" xyz="0 0 0"/>
                <geometry>
                    <!-- <mesh filename="package://mobot_pkg/meshes/imu.dae"/> -->
                    <box size=".025 0.025 0.002"/>
                    <!-- <cylinder length="0.032" radius=".04"/> -->
                </geometry>
            </collision>
            <inertial>
                <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
                <mass value="0.001"/>
                <inertia ixx=".00001" ixy="0.0" ixz="0.0" iyy=".001" iyz="0.0" izz=".00001"/>
            </inertial>



        </link>

        <joint name="imu${id_}_joint" type="fixed">
            <parent link="${parent_}"/>
            <child link="imu${id_}_link"/>
            <origin rpy="0.0 0.0 0.0" xyz="${x_} ${y_} ${z_}"/>
        </joint>

        <!-- <gazebo reference="imu${id_}_link"> -->
            <!-- <plugin name="imu${id_}_plugin" filename="libgazebo_ros_imu.so">
                <alwaysOn>true</alwaysOn>
                <bodyName>"imu${id_}_link"</bodyName>
                <topicName>imu</topicName>
                <serviceName>imu_service</serviceName>
                <gaussianNoise>0.0</gaussianNoise>
                <updateRate>20.0</updateRate>
            </plugin> -->
            
            <gravity>true</gravity>
            <sensor name="imu${id_}_sensor" type="imu">
                <always_on>true</always_on>
                <update_rate>100</update_rate>
                <visualize>true</visualize>
                <topic>__default_topic__</topic>
                <plugin filename="libgazebo_ros_imu_sensor.so" name="imu${id_}_plugin">
                    <topicName>imu</topicName>
                    <bodyName>imu${id_}_link</bodyName>
                    <updateRateHZ>10.0</updateRateHZ>
                    <gaussianNoise>0.0</gaussianNoise>
                    <xyzOffset>0 0 0</xyzOffset>
                    <rpyOffset>0 0 0</rpyOffset>
                    <frameName>imu${id_}_link</frameName>
                    <initialOrientationAsReference>false</initialOrientationAsReference>
                </plugin>
                <pose>0 0 0 0 0 0</pose>
            </sensor>
        <!-- </gazebo> -->

    </xacro:macro>




</robot>