<?xml version="1.0"?>
<launch>

    <arg name="map_file" default="$(find mobot_pkg)/maps/map_201_lab.yaml"/>
    <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)" />
    
    
    <include file="$(find mobot_pkg)/launch/amcl.launch"/>

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <rosparam file="$(find mobot_pkg)/nav_param/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find mobot_pkg)/nav_param/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find mobot_pkg)/nav_param/local_costmap_params.yaml" command="load"  />
        <rosparam file="$(find mobot_pkg)/nav_param/global_costmap_params.yaml" command="load"  />
        <rosparam file="$(find mobot_pkg)/nav_param/move_base_params.yaml" command="load"  />
        <rosparam file="$(find mobot_pkg)/nav_param/dwa_local_planner_params.yaml" command="load" />
        <rosparam file="$(find mobot_pkg)/nav_param/base_local_planner_params.yaml" command="load" />
    </node>


</launch>
