<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="omobot_controller" params="">
        <gazebo>
            <plugin name="omobot_controller" filename="libgazebo_ros_planar_move.so">
                <commandTopic>cmd_vel</commandTopic>
                <odometryTopic>odom</odometryTopic>
                <odometryFrame>odom</odometryFrame>
                <odometryRate>50.0</odometryRate>
                <robotBaseFrame>base_footprint</robotBaseFrame>
                <publishTF>true</publishTF>
            </plugin>
        </gazebo>
    </xacro:macro>
</robot>