<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find mobot_pkg)/urdf/include/_body.urdf.xacro"/>
    <xacro:include filename="$(find mobot_pkg)/urdf/include/_inertial.urdf.xacro"/>
    <xacro:include filename="$(find mobot_pkg)/urdf/include/_material.urdf.xacro"/>
    <xacro:include filename="$(find mobot_pkg)/urdf/include/_lidar.urdf.xacro"/>
    <xacro:include filename="$(find mobot_pkg)/urdf/include/_imu.urdf.xacro"/>
    <xacro:include filename="$(find mobot_pkg)/urdf/include/_camera.urdf.xacro"/>
    <xacro:include filename="$(find mobot_pkg)/urdf/include/_wheel.urdf.xacro"/>

    <link name="base_footprint"/>

    <xacro:property name="wheel_rad" value=".0395"/>
    <xacro:property name="wheel_length" value=".032"/>

    <xacro:body name_="base" parent_="base_footprint" x_="0.0" y_="0.0" z_="0" mat_="GRN" mesh="package://mobot_pkg/meshes/OmobotVersion2.dae"/>
    <gazebo reference="base_link">
        <material>Gazebo/Gray</material>
    </gazebo>

    <xacro:lidar id_="0" parent_="base_link" x_="0.0975" y_="0.0" z_="0.1265" mat_="RED"/>
    <xacro:imu id_="0" parent_="base_link" x_="0.013" y_="0.0" z_="0.0435" mat_="GRY"/>
    <xacro:stereo_camera id_="0" parent_="base_link" x_="0.1325" y_="0.04" z_="0.069" mat_="BLU"/>
    <xacro:stereo_camera id_="1" parent_="base_link" x_="0.1325" y_="-0.04" z_="0.069" mat_="BLU"/>
    
    <gazebo reference="lidar0_link">
        <material>Gazebo/Blue</material>
    </gazebo>

    <xacro:wheel name_="lf" parent_="base_link"  rad_="${wheel_rad}" len_="${wheel_length}" x_="0.0825" y_="0.1185" mat_="BLK" mesh="package://mobot_pkg/meshes/wheel_left.dae"/>
    <xacro:wheel name_="rf" parent_="base_link"  rad_="${wheel_rad}" len_="${wheel_length}" x_="0.0825" y_="-.1185" mat_="BLK" mesh="package://mobot_pkg/meshes/wheel_right.dae"/>
    <xacro:wheel name_="lb" parent_="base_link"  rad_="${wheel_rad}" len_="${wheel_length}" x_="-.0825" y_="0.1185" mat_="BLK" mesh="package://mobot_pkg/meshes/wheel_right.dae"/>
    <xacro:wheel name_="rb" parent_="base_link"  rad_="${wheel_rad}" len_="${wheel_length}" x_="-.0825" y_="-.1185" mat_="BLK" mesh="package://mobot_pkg/meshes/wheel_left.dae"/> 
</robot>
