<?xml version="1.0"?>
<launch>

    <!-- <node pkg="mobot_pkg" type="executable" name="subscriber" /> -->
    <param name="robot_description" command="xacro --inorder '$(find mobot_pkg)/launch/test_robot.urdf.xacro'"/>

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
        <!-- <remap from="robot_description" to="different_robot_description" /> -->
        <!-- <remap from="joint_states" to="different_joint_states" /> -->
    </node>

    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher"/>

    <!-- <arg name="rviz_config_file" value="$(find mobot_pkg)/config/mobot.rviz"/>
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rviz_config_file)"/> -->

    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -z .001 -param robot_description -model testbot"/>

</launch>